.header__lang-link {
    display: flex;
    width: 50px;
    justify-content: space-between;
}

@media screen and (max-width: 540px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}