.header__lang-link {
    display: flex;
    max-width: fit-content;
    justify-content: space-between;
}

@media screen and (max-width: 540px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}