.places {
    margin: 0 auto;
    display: grid;
    justify-content: flex-start;
    grid-template-columns: 100%;
    row-gap: 80px;
    max-width: 984px;
}

@media screen and (max-width: 1120px) {
    .places {
        max-width: 928px;
    }
}

@media screen and (max-width: 960px) {
    .places {
        row-gap: 73px;
        max-width: 720px;
        width: 100%;
    }
}

@media screen and (max-width: 540px) {
    .places {
        margin: 0;
        row-gap: 50px;
    }
}