.place__image {
    max-height: 460px;
    grid-area: image;
    width: 100%;
}

@media screen and (max-width: 1120px) {
    .place__image {
        max-height: 440px;
    }
}

@media screen and (max-width: 960px) {
    .place__image {
        max-height: 300px;
    }
}

@media screen and (max-width: 540px) {
    .place__image {
        max-height: 320px;
    }
}