.content {
    max-width: 1184px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1184px;
    row-gap: 92px;
    justify-content: center;
    width: 100%;
}

@media screen and (max-width: 1120px) {
    .content {
        max-width: 1024px;
    }
}

@media screen and (max-width: 960px) {
    .content {
        max-width: 768px;
        grid-template-columns: 768px;
        row-gap: 88px;
    }
}

@media screen and (max-width: 540px) {
    .content {
        max-width: 100%;
        grid-template-columns: 100%;
        row-gap: 64px;
    }
}