.lead__title {
    display: block;
    max-width: 720px;
    font-size: 96px;
    font-family: "Inter";
    font-weight: 900;
    line-height: 100px;
    font-style: normal;
    color: #FFFFFF;
    text-align: center;
    word-wrap: break-word;
}

@media screen and (max-width: 960px) {
    .lead__title {
        max-width: 95%;
    }
}

@media screen and (max-width: 540px) {
    .lead__title {
        max-width: 288px;
        font-size: 40px;
        font-weight: 900;
        line-height: 44px;
    }
}