.intro__title {
    font-size: 54px;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 900;
    line-height: 58px;
    font-style: normal;
    color: #FFFFFF;
    margin: 0 0 40px 0;
    max-width: 690px;
}

@media screen and (max-width: 960px) {
    .intro__title {
        width: 100%;
        max-width: 720px;
    }
}

@media screen and (max-width: 540px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
    }
}